{% extends 'base.html' %}
{% block content %}

<div class="text-center">
<h1>Create post</h1>

    {{error}}
    </div>
<section class="create">
<div class="row">
<form class="create-form" action="{% url 'create' %}" method="POST">

    <div class="form-row">
        <div class="form-element">
    <label for="id_title">Title</label>
    <input class="text-field" type="text" name="title" maxlength="200" required="" id="id_title">
    </div>

    <div class="form-element">
    <label for="id_date">Date</label>
    <input class="text-field" type="date" name="date" required="" id="id_date">
        </div>
    </div>

    <div class="form-element">
    <label for="id_text">Text</label>
    <textarea class="text-field" name="text" cols="40" rows="10" required="" id="id_text"></textarea>
    </div>

    <!-- uzywamy tego, aby zakomentować -->
    {% csrf_token %}

    <div class="buttons-row">

    <button class="btn-shape btn-black" type="submit">Generate</button>

<a class="btn-shape btn-grey" href="{%url 'home'%}">Home</a>

        </div>

</form>
</div>
</section>

{% endblock content %}





