* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
}

.post-box {
    background-color: #ffedcc;
    padding: 10px;
    height: 100%;
}

.post-title:link,
.post-title:visited {
    font-size: 25px;
    color: black;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    transition: all 0.5s;
}

.post-title:hover,
.post-title:active {
    border-bottom: 3px solid #ff8011;
}

/* --------------------------*/
/* -----FORM CREATE ---------*/
/* --------------------------*/

.create-form {
    display: flex;
    flex-direction: column;
}

.form-element {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-row {
    display: flex;
    flex-direction: row;
}

input {
    width: 100%;
}

.form-element:first-child {
    margin-right: 10px;
}

.form-element:last-child {
    margin-left: 10px;
}

.create .row {
    max-width: 800px;
}

.text-field {
    border: none;
    box-shadow: 0 0 15px 3px #e6e6e6;
    padding: 5px;
    font-size: 17px;
    margin-bottom: 10px;
}

.text-field:focus {
    outline: none;
    box-shadow: 0 0 20px 3px #ccc;
}


input.text-field {
    height: 30px;
}

textarea.text-field {
    height: 150px;
}

label {
    text-transform: uppercase;
    margin-bottom: 5px;
}

/*.create-form button[type="submit"] {
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 3px 5px;
    transition: all 0.5s;
    }

.create-form button[type="submit"]:hover {
    background-color: white;
    color: black;
} refactoring */

.btn-shape {
    padding: 3px 5px;
    transition: all 0.5s;
    text-align: center;
}

.btn-black {
    background-color: black;
    color: white;
    border: 1px solid black;
}

.btn-black:hover {
    background-color: white;
    color: black;
}

.btn-grey {
    background-color: #b3b3b3;
    color: white;
    border: 1px solid #b3b3b3;
}

.btn-grey:hover {
    background-color: white;
    color: black;
 }


.buttons-row {
    display: flex;
}

.buttons-row button,
.buttons-row a {
    flex: 1;
}

.buttons-row button {
    margin-right: 10px;
}

.buttons-row a {
    margin-left: 10px;
}

.detail h1,
.detail h3,
.detail p {
    padding: 0px;
}

#home-button {
    margin-top: 15px;
}